
<% @result.each do |business| %>
	<div>
		<h3><%= business.name %></h3>
		<p><%= business.location.display_address[0] %></p>
		<img src="<%= business.image_url %>" alt=""><br>
		<img src="<%= business.rating_img_url %>" alt="">
		<p>based on <%= business.review_count %> reviews</p>
	</div>
<% end %>
